img{
    display: block;
    max-width: 100%;
    height:auto;
}

#navbar-toggle-cbox {
    display:none
  }
  #navbar-toggle-cbox:checked ~ .collapse {
      display: block;
  }

.first-box{
    background-image: url(image-header.jpg);
    width: 1440px;
    background-color: hsl(228, 45%, 44%);;
    width: 1440px;
    height: 100px;
}
.color {
    color: white;
    margin-left: 500px;
   /* margin-top: auto;*/
   /*text-align: center;*/
}

.center {
    text-align: center;
    margin-top: 150px ;
}
/*p {
    text-align: center;
}

h2 {
    text-align: center;
}
*/
/*.row no-gutters. .col-lg-6 .center {
    text-align: center;
}*/

/*a {
    text-align: center;
}*/


.row.no-gutters {
    margin: 0;
}
.col.row.no-gutters{
    margin: 0;
}
.navbar-brand{
    color: white;
}
.navbar{
    background-color: rgba(61,190,255,255);
    color: white;

}
.nav-link{
    color: white;
}

.navbar .cta-btn a {
    background: white;
   color: black; !important;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 15px 20px !important;
    line-height: 1;
    font-weight: bold;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.navbar .cta-btn a: hover {
    color: rgb(105 196 231 / 70%);
} 

}

.txt{
    position: relative;
}
.txt  img, .overlay-text{
    position:absolute
}
