img{
    display: block;
    max-width: 100%;
    height:auto;
}

.first-box{
    background-image: url(image-header.jpg);
    width: 1350px;
    background-color: hsl(228, 45%, 44%);;
    width: 1440px;
    height: 100px;
}
.color {
    color: white;
    margin-left: 500px;
   /* margin-top: auto;*/
}
.row.no-gutters {
    margin: 0;
}
.col.row.no-gutters{
    margin: 0;
}
.navbar-brand{
    color: white;
}
.navbar{
    background-color: rgba(61,190,255,255);
    color: white;

}
.nav-link{
    color: white;
}

.navbar .cta-btn a {
    background: white;
    color: black; !important;
    text-transform: uppercase;
    font-size: .8rem;
    padding: 15px 20px !important;
    line-height: 1;
    font-weight: bold;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.txt{
    position: relative;
}
.txt  img, .overlay-text{
    position:absolute
}
