
img{
    display: block;
    max-width: 100%;
    height:auto;
}
.row.no-gutters {
    margin: 0;
}
.col.row.no-gutters{
    margin: 0;
}
.navbar-brand{
    color: whitw;
}
.navbar{
    background-color: rgba(61,190,255,255);
    color: white;

}
.nav-link{
    color: white;
}

#navbarNav{
  
}